@import url('normalize.css');

// :root{}

* {
    box-sizing: border-box !important;
}

*:focus {
    outline: none !important;
}

.text-deco-none {   
    text-decoration: none !important;
}

// html {
// }

// body {
    
// }
