@import url('normalize.css');

:root{
   --charcoal : #1f1f1f;
}

* {
    box-sizing: border-box !important;
}

*:focus {
    outline: none !important;
}

.main-width {
    width: 84% ;
}

footer {
    background-color: var(--charcoal);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

// html {
// }

// body {
    
// }
