.img-customize {
    height: 300px;
}
.img-customize img {
    margin: 0 auto;
}
.slick-prev {
    left: 0 !important;
}
.experts-container {
    margin: 50px 50px;
}
.slick-prev {
    width: 30px !important;
    height: 30px !important;
    color: white !important;
    background: blue !important;
    z-index: 10;
    top: -10% !important;
    left: 90% !important;
}
.slick-next {
    width: 30px !important;
    height: 30px !important;
    color: white !important;
    background: blue !important;
    z-index: 10;
    top: -10% !important;
    right: 20px !important;
}

.expert-info h2 {
    font-size: 20px;
}

.expert-info p {
    font-size: 15px;
}
